<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    <nav class="navbar">
        <div class="navdiv">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/detection">Detection</a></li>
                <li><a href="/contacts" class="active">Contacts</a></li>

            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="split left">
            <h1 class="c-header"> Sylvia Xu</h1>

            <div class="image-flex">
                <img class="icons"
                    src="https://media.istockphoto.com/id/2052093189/vector/blue-mail-icon-mail-button-vector.jpg?s=612x612&w=0&k=20&c=nUYbs8zEExhLHw2yYD7sX59KdFPoXMsTUyX5qbgeIVU="
                    height=100px width="56%">
                <p class="contacts-p">sylviaxu59@gmail.com</p>
            </div>
            <div class="image-flex">
                <img class="icons"
                    src="https://www.freeiconspng.com/uploads/linkedin-icon-png-transparent-images--pictures--becuo-4.png"
                    alt="Linkedin Icon Png Transparent Images & Pictures Becuo" height=80px width="50%">
                <p class="contacts-p">LINK</p>
            </div>
        </div>

        <div class="split right">
            <h1 class="c-header">Vivian Tian</h1>
            <div class="image-flex">

                <img class="icons"
                    src="https://media.istockphoto.com/id/2052093189/vector/blue-mail-icon-mail-button-vector.jpg?s=612x612&w=0&k=20&c=nUYbs8zEExhLHw2yYD7sX59KdFPoXMsTUyX5qbgeIVU="
                    height=100px width="56%">
                <p class="contacts-p">12vivian.t03@gmail.com</p>

            </div>
            <div class="image-flex">
                <img class="icons"
                    src="https://www.freeiconspng.com/uploads/linkedin-icon-png-transparent-images--pictures--becuo-4.png"
                    alt="Linkedin Icon Png Transparent Images & Pictures Becuo" height=80px width="50%">
                <p class="contacts-p">LINK</p>
            </div>
        </div>
    </div>


</body>

</html>